//-----------------------------------------------
// Colors
//-----------------------------------------------
$site-bg: #FFFFFF;
$main-color: #49b293; // green
$secondary-color: #4993b2; // blue
$text-color: #1D2D35;
