//-----------------------------------------------
// Colors
//-----------------------------------------------
$almost-black: #181818;
$almost-white: #f6f6f6;
$main-green: #116e3f;

$primary-color: $main-green;
$text-color: $almost-white;
