@import "colors";

body.home{
	text-align: center;

	&>header{
		border-bottom: 0;
	}

	h1{
		font-size: 5.88rem;
	}

	.lead{
		margin: 0 auto 1.9rem;
		width: 40%;
		font-size: 2.0rem;
	}
}

section{
	padding: 1.5rem 0;
}

.full-width{
	position: relative;
	margin: 0 -5%;
	width: 110%;
}

.bg-dots{
	position: relative;
	margin: -8rem -10% 0;
	background-image: radial-gradient(#dee2e6 15%, transparent 15%);
	background-position: 0 0;
	background-size: 1.4rem 1.4rem;
	background-repeat: repeat;
	-webkit-mask: linear-gradient(to top, #fff, transparent);
	width: 120%;
	height: 12rem;
	z-index: -1;
}

section.introduction{
	padding: 60px 0;
}

.benefits-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	div{
		padding: 0 24px;
		width: 31.25%;
	}

	h2{
		font-size: 2.4rem;
	}
}



/************************************************
 * <= 1000px width
 * *********************************************/
@media(max-width: 1000px){
}


/************************************************
 * <= 850px width
 * *********************************************/
@media(max-width: 850px){
}


/************************************************
 * <= 750px width
 * *********************************************/
@media(max-width: 750px){
}


/************************************************
 * <= 600px width
 * *********************************************/
@media(max-width: 600px){
}
